.menu-page {
	max-width: 100%;
	width: 100%;
	height: 100%;
	padding: 2.7rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-card{
    width: 480px;
    height:auto;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 40px;
    gap: 1.5rem;
    border: 3px solid var(--black);
    box-shadow: 0 10px var(--black);
    padding: 70px 40px 60px 40px;

}

.link:link, .link:visited{
	text-decoration: none;
    color: var(--black);
}
.menu-btn{
    width: 400px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 20px;
    border: 3px solid var(--black);
    box-shadow: 0 10px var(--black);
}

.menu-btn:hover{
    border: 3px solid var(--dark-purple);
    box-shadow: 0 10px var(--dark-purple);
    transition: 200ms;
}


.pvp-btn {
    background-color: var(--yellow);
}

.rules-btn {
    background-color: var(--white);
}

.pve-btn{
    background-color: var(--red);
}

.pve-btn > h3 {
    color: var(--white);
}

@media screen and (max-width: 480px) {
    .menu-page {
        background-color: var(--purple);
    }

    .menu-card {
        border: none;
        box-shadow: none;
        gap: 20px;
    }

    .menu-img {
        padding-bottom: 80px;
    }

    .menu-btn {
        width: 335px;
        height: 72px;
        display: flex;
    }
}
