.relative{
	position: relative;
}

.game-page {
	max-width: 100%;
	width: 100%;
	height: 100%;
	padding: 2.7rem 0;
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: column;
	background-color: var(--purple);
}

.game-header {
	width: 632px;;
	padding-top: 53px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-btn {
	color: var(--white);
	font-size: var(--font-size-body);
	font-weight: 600;
	background-color: var(--dark-purple);
	text-align: center;
	text-decoration: none;
	display: inline-block;
    border-radius: 20px;
    border: 0;
    height: 39px;
	width: 108px;
}

.header-btn:hover{
	background-color: var(--red);
	transition: 200ms;
	cursor: pointer;
}


.logo{
	padding-left: 22px;
}

.game-body{
	width: 1034px;
	padding-top: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}